{% extends 'multiPlayer/multiPlayerBase.html' %} {% load static %} 
{% block title %}Ibigkas Login{% endblock %} {% block content %}
<div class="logIn_page">
  <img src="{% static 'Assessment/img/logo.png' %}" alt="ibigkas logo" />
  <div class="category">
    <button type="button" onclick="signIn()" class="btn btn-primary">
      sign in
    </button>

     {% for i in check %}
        {% if i.research_mode %}
            <p>Hello 1</p>
        {% endif %}
    {% endfor %} 
    
    
    <button onclick="create()" type="button" class="btn btn-primary">
      create account
    </button>
    <!-- <button type="button" class="btn btn-primary">quit</button> -->
    
  </div>
</div>
{% endblock %} {% block scripts %}
<script type="text/javascript">
  function create() {
    location.href = '{% url "Assessment:createAccount" %}';
  }
  function signIn() {
    location.href = '{% url "Assessment:SignIn_multi" %}';
  }
</script>
{% endblock %}
